
@import url(@quamolit/touch-control/style/touch-control.css);

body {
  margin: 0;
  overscroll-behavior-y: none;
  font-family: Hind, sans-serif;
  font-size: 0;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

.app {
  color: white;
  font-size: 13px;
}
